﻿@model List<InoxPhuocThanh.Areas.AdminPT.Models.ProductViewModel>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = (List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>)ViewData["categories"];
    var productTypes = (List<InoxPhuocThanh.Areas.AdminPT.Models.ProductTypeViewModel>)ViewData["productTypes"];
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-10 align-self-center">
            <h4 class="page-title">Sản Phẩm</h4>
            <!--Toast-->
        </div>
        <div class="toast card col-2 p-15 position-fixed" id="toast_true" style=" opacity:0; z-index:999;right:15%; top:2% ; border: solid 0.5px #5ac146">
            <div class="toast-header">
                <strong class="mr-auto text-success"><i class="mdi mdi-close-circle"></i>&nbsp;&nbsp;Xóa Thành Công</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                Sản phẩm đã được xóa
            </div>
        </div>
        <div class="toast card col-2 p-15 position-fixed" id="toast_false" style=" opacity:0; z-index:999;right:15%; top:2% ; border: solid 0.5px #fa5838">
            <div class="toast-header">
                <strong class="mr-auto text-danger"><i class="mdi mdi-checkbox-marked-circle"></i>&nbsp;&nbsp;Xóa Không Thành Công</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                Sản phẩm không xóa được
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card col-12">
                <div class="card-body">
                    <a class="btn btn-success" href="@Url.Action("Insert", "Product")"><i class="mdi mdi-plus"></i>&nbsp;Thêm </a>
                </div>
                <br />
                <form class="form-horizontal form-material">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="col-sm-12">Danh Mục Sản Phẩm</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-line" id="cateList">
                                    <option value="0">Chọn</option>
                                    @foreach (var cate in categories)
                                    {
                                        <option value="@cate.Category_id">@cate.Category_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-sm-12">Danh Mục Sản Phẩm Con</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-line" id="proList">
                                    <option value="0">Chọn</option>
                                    @foreach (var type in productTypes)
                                    {

                                        <option value="@type.Product_type_id" data-cate="@type.Category_id">@type.Product_type_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-sm-12">&nbsp;</label>
                            <button class="btn btn-purple"><i class="mdi mdi-filter"></i>&nbsp;Lọc</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">STT</th>
                                <th class="border-top-0">Tên Sản Phẩm</th>
                                <th class="border-top-0">Danh Mục</th>
                                <th class="border-top-0">Danh Mục Con</th>
                                <th class="border-top-0">Giá Tiền</th>
                                <th class="border-top-0">Trạng Thái</th>
                                <th class="border-top-0">Ngày Tạo</th>
                                <th class="border-top-0"></th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 1;}
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td class="txt-oflo">@(count++)</td>
                                    <td class="txt-oflo">@product.Product_name</td>
                                    <td class="txt-oflo">@product.Category_name</td>
                                    <td class="txt-oflo text-center">@product.Product_type_name</td>
                                    <td class="txt-oflo text-center">@product.Product_price.ToString("#,##0")</td>
                                    @if (product.IsActive == true)
                                    {
                                        <td><span class="label label-success label-rounded">Hoạt Động</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-danger label-rounded">Đang Đóng</span></td>
                                    }
                                    <td class="txt-oflo">@product.Product_created_date.ToString("dd-MM-yyyy")</td>
                                    <td>@Html.ActionLink("Chi Tiết", "Detail", "SubCategories", null, new { @class = "btn btn-success" })</td>
                                    <td>@Html.ActionLink("Xóa", null, null, null, new { @class = "btn btn-danger remove", @data_name = product.Product_name, @data_id = product.Product_id }) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">Xóa Sản Phẩm</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a class="btn btn-success text-white" id="confirmRemove"><i class="mdi mdi-check-circle-outline"></i>&nbsp;OK</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="mdi mdi-close-circle-outline"></i>&nbsp;Hủy</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        var product_id;
        var user = $('#table').DataTable({
            "language": {
                "lengthMenu": "<div class='form-inline'><div class='form-group'><label>Xem&nbsp</label>" +
                    "<select class='form-control form-control-sm form-control-line'>" +
                    "<option value='10'>10</option>" +
                    "<option value='25'>25</option>" +
                    "<option value='50'>50</option></select><label>&nbspmục</label</div></div>",
                "zeroRecords": "Không tìm thấy dòng nào phù hợp",
                "info": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "infoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "infoFiltered": "(được lọc từ _MAX_ mục)",
                "search": "Tìm kiếm",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                },
            },
            "dom": 'lrtip'
        });
        $('#customSearchBox').keyup(function () {
            user.search($(this).val()).draw();
        });
        var cateList = $('#cateList');
        $('#proList option').hide();
        cateList.on('change', function () {
            $('#proList option').hide();
            $("#proList option[value=0]").prop('selected', true)
            $('#proList option').filter(function () {
                return $(this).data('cate') == $('#cateList option:selected').val();
            }).show();
        });
        var remove = $('.remove');
        var myModal = $('#myModal');
        var modalbody = $('.modal-body');
        remove.on('click', function (e) {
            product_id = $(this).data('id');
            modalbody.empty();
            modalbody.append('<span>Bạn có chắc muốn xóa <span class=\'text-danger\'>' + $(this).data('name') + '</span> khỏi danh sách ?</span>')
            e.preventDefault();
            myModal.modal('show');

        });
        if (localStorage.getItem('checkResult')== 'true') {
            localStorage.removeItem('checkResult');
            $('#toast_true').animate({ right: "30px", opacity: 1 }, {
                duration: 1000, complete: function () {
                    setTimeout(function () {
                        $('#toast_true').animate({ right: "-100px", opacity: 0 }, { duration: 1000 });
                    }, 3000);
                }
            });
        } else if (localStorage.getItem('checkResult') == 'false') {
            localStorage.removeItem('checkResult');
            $('#toast_false').animate({ right: "30px", opacity: 1 }, {
                duration: 1000, complete: function () {
                    setTimeout(function () {
                        $('#toast_false').animate({ right: "-100px", opacity: 0 }, { duration: 1000 });
                    }, 3000);
                }
            });
        }
        var confirmRemove = $('#confirmRemove');
        confirmRemove.on('click', function () {
            myModal.modal('hide');
            $.ajax({
                method: 'GET',
                url: '@Url.Action("DeleteProduct", "Product")',
                data: { Id: product_id },
                dataType: 'JSON',
                success: function (result) {                  
                    localStorage.setItem("checkResult", result.success);
                    window.location.reload();
                },
                error: function () {
                    localStorage.setItem("checkResult", 'false');
                }
            });
        });
        var closeToast = $(".toast-header .close");
        closeToast.on('click', function () {
            $('#toast_true').animate({ right: "-100px", opacity: 0 }, { duration: 1000 });
            $('#toast_false').animate({ right: "-100px", opacity: 0 }, { duration: 1000 });
        });
    });


</script>

