﻿@model InoxPhuocThanh.Areas.AdminPT.Models.ProductViewModel
@{
    ViewBag.Title = "Thêm Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = (List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>)ViewData["categories"];
    var productTypes = (List<InoxPhuocThanh.Areas.AdminPT.Models.ProductTypeViewModel>)ViewData["productTypes"];
}

<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Thêm Sản Phẩm</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Insert", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_name, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @*<input type="text" name="Product_name" class="form-control form-control-line">*@
                                @Html.EditorFor(model => model.Product_name, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Product_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Product_category_id)
                            @Html.DropDownListFor(model => model.Product_category_id, new SelectList(categories, "Category_id", "Category_name"),
                            "Chọn danh mục", htmlAttributes: new { @id = "cateList", @class = "custom-select col-12" })
                            @Html.ValidationMessageFor(model => model.Product_category_id, "", new { @class = "text-danger" })

                        </div>
                        @*<div class="form-group col-12">
                                @Html.LabelFor(model => model.Product_type_id)
                                @Html.DropDownListFor(model => model.Product_type_id, new SelectList(productTypes, "Product_type_id", "Product_type_name",  new { htmlAttributes = new { @data="Category_id" } }),
                                "Chọn danh mục con", htmlAttributes: new {@id="proList", @class = "custom-select col-12", @name = "Product_type_id"})
                                @Html.ValidationMessageFor(model => model.Product_type_id, "", new { @class = "text-danger" })

                            </div>*@
                        <div class="form-group col-12">
                            <label>Danh Mục Sản Phẩm Con</label>
                            <select class="custom-select col-12" id="proList" name="Product_type_id">
                                <option selected>Chọn</option>
                                @foreach (var proType in productTypes)
                                {
                                    <option value="@proType.Product_type_id" data-cate="@proType.Category_id">@proType.Product_type_name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Product_price, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @*<input type="text" name="Product_name" class="form-control form-control-line">*@
                                @Html.EditorFor(model => model.Product_price, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.Product_price, "", new { @class = "text-danger" })
                            </div>
                        </div> 
                        <div class="form-group">

                            @Html.LabelFor(model => model.Product_quantity, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @*<input type="text" name="Product_name" class="form-control form-control-line">*@
                                @Html.EditorFor(model => model.Product_quantity, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.Product_quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Hình Ảnh</label>
                            <input type="file" multiple accept="image/*" class="form-control" name="file">
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_description, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Product_description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Product_description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Trạng Thái</label>
                            <div class="col-12 d-flex">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="IsActive" value="true" class="custom-control-input" checked="checked">
                                    <label class="custom-control-label" for="customRadio1">Hoạt Động</label>
                                </div>
                                &nbsp;
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="IsActive" value="false" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Đang Đóng</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-flex">
                                <button class="btn btn-success mx-1" id="Save">Lưu</button>
                                <a class="btn btn-danger" href="@Url.Action("Index", "Product")">Trở Về</a>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var cateList = $('#cateList');
        $('#proList option').hide();
        cateList.on('change', function () {
            $('#proList option').hide();
            $("#proList option[value=0]").prop('selected', true)
            $('#proList option').filter(function () {
                return $(this).data('cate') == $('#cateList option:selected').val();
            }).show();
        });
    });
</script>
