﻿
<div class="col-md-6 col-sm-6">
    <div class="contact-details">
        <div class="contact-head">
            <h2>Thông tin liên hệ</h2>
            <p>@Model[0].Company_description</p>
        </div>
        <div class="contact-bottom">
            <p><span><i class="fa fa-phone"></i></span> Sdt: @Model[0].Company_phonenumber1 - @Model[0].Company_phonenumber2</p>
            <p><span><i class="fa fa-envelope"></i></span> E-mail: @Model[0].Company_gmail</p>
            <p>
                <span><i class="fa fa-link"></i></span> Website: <a href="inoxphuocthanh.com">inoxphuocthanh.com</a>
            </p>
            <p><span><i class="fa fa-map-marker"></i></span> Address: @Model[0].Company_address</p>
        </div>
        <div class="contact-social-icon footer-social-icon">
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>