﻿@model InoxPhuocThanh.Models.ContactViewModel
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 450px;
        width: 100%;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 450px;
        width: 100%;
    }

    .contact-map {
    }
</style>
<!-- Breadcurb AREA -->
<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>Liên Hệ</li>
        </ul>
    </div>
</div>
<!-- Contact-us area -->
<div class="contact-us-area">
    <div class="map-area">
        <div class="contact-map">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=312A%20T%C3%A2n%20K%E1%BB%B3%20T%C3%A2n%20Qu%C3%BD&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a></div>
            </div>
        </div>
    </div>
    <div class="contact-information">
        <div class="container">
            <div class="row">
                @Html.Action("CompanyInfoPartial", "Contact")
                <div class="col-md-6 col-sm-6">
                    <div class="contact-leave-message">
                        <div class="contact-head">
                            <h2>Liên hệ mua sỉ</h2>
                        </div>
                        @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { enctype="multipart/form-data"}))
                        {
                            @Html.AntiForgeryToken()
                            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Customer_email, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Customer_email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Customer_email, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">
                                        Thêm hình ảnh
                                    </label>
                                    <input type="file" multiple name="file" accept="image/*" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                                </div>



                                <div class="form-group col-md-12">
                                    <input type="submit" id="btnSendMail" value="Gửi" class="btn btn-default" />
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      function preview_image() {
          var total_file = document.getElementById("fileupload").files;
          for (var i = 0; i < total_file.length; i++)
         {
              //$('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[i])+"'><br>");
              $('#image_preview').append("<p id="+i+"> " + total_file[i].name + "&nbsp<a><i class='fa fa-remove' onclick=delete_image('" + total_file[i].name + "')></i></a>" + "</p>");
         }
      }
      function delete_image(imgname) {
          var total_file = document.getElementById("fileupload").files;
          for (var i = 0; i < total_file.length; i++)
          {
              if (total_file[i].name == imgname) {
                  total_file[i];

                  }
         }
      }
    @*$(function () {
        var sendMail = $('#btnSendMail');
                var formData = new FormData();
        $('#fileupload').on("change", function () {
            preview_image();
                var files = $("#fileupload").get(0).files;
                for (i = 0; i < files.length; i++) {
                    formData.append(files[i].name, files[i]);
                }
            })
        sendMail.on('click', function () {

        formData.append('fullname', $("#fullname").val());
        formData.append('title', $("#title").val());
        formData.append('phonenumber', $("#phonenumber").val());
        formData.append('description', $("#description").val());
        formData.append('email', $("#email").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("Index")",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("success");
            },
            error: function (data) {
                alert("error: " + data.statusText);
            }

        })
        });
    });*@
</script>

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
