﻿
@{
    ViewBag.Title = "Thiết kế - Thi công";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/contact.css")
}
<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>Thiết kế - Thi công</li>
        </ul>
    </div>
</div>
<div class="contentWrap">
    <div class="contentHolder">
        <div class="bt_content">

            <section id="bt_section5cde1a743446d" class="boldSection topSpaced bottomSpaced gutter">
                <div class="port">
                    <div class="boldCell">
                        <div class="boldRow ">
                            <div class="rowItem col-sm-12 col-md-8 cellLeft">
                                <div class="rowItemContent">
                                    <header class="header medium bt_dash btDash bottomDash">
                                        <h2>
                                            <span class="dash"><span class="h2content">Yêu cầu báo giá</span></span>
                                        </h2>
                                        <p class="boldSubTitle">Hãy cho chúng tôi biết ý tưởng của bạn, chúng tôi sẽ tư vấn và cụ thể hóa ý tưởng đó thành hiện thực.</p>
                                    </header>
                                    <hr class="topSmallSpaced noBorder">
                                    <div class="btQuoteBooking ">
                                        <div class="btQuoteContact">
                                            <div class="btQuoteItem btContactFieldMandatory"><input type="text" class="btContactName btContactField untouched" placeholder="Tên của bạn"></div>
                                            <div class="btQuoteItem btContactFieldMandatory"><input type="text" class="btContactEmail btContactField untouched" placeholder="Email"></div>
                                            <div class="btQuoteItem btContactFieldMandatory"><input type="text" class="btContactPhone btContactField untouched" placeholder="Số điện thoại"></div>
                                            <div class="btQuoteItem btContactFieldMandatory"><input type="text" class="btContactAddress btContactField untouched" placeholder="Địa chỉ"></div>
                                            <div class="btQuoteItem btQuoteItemFullWidth"><textarea class="btContactMessage btContactField btContactFieldMandatory" placeholder="Yêu cầu"></textarea></div>
                                            <div class="boldBtn btnAccent btnSmall btnIco"><button type="submit" class="btContactSubmit" data-ico-bold="">Gửi yêu cầu</button></div>
                                            <div class="btSubmitMessage"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rowItem col-md-4 col-sm-12 cellLeft btTextIndent inherit">
                                <div class="rowItemContent">
                                    <header class="header small bt_dash btDash topDash">
                                        <h3>
                                            <span class="dash"><span class="h2content">Các bước lấy báo giá</span></span>
                                        </h3>
                                    </header>
                                    <hr class="topSmallSpaced noBorder">
                                    <div class="servicesItem ">
                                        <div class="sIcon">
                                            <div class="ico borderless">
                                                <a href="#" data-ico-fa="" data-slimstat="5"></a>
                                            </div>
                                        </div>
                                        <div class="sTxt">
                                            <header class="header small">
                                                <h3>
                                                    <span class="dash"><span class="h2content">Bước 1</span></span>
                                                </h3>
                                            </header>
                                            <p>Cung cấp yêu cầu xây dựng<br></p>
                                        </div>
                                    </div>
                                    <div class="servicesItem ">
                                        <div class="sIcon">
                                            <div class="ico borderless">
                                                <a href="http://www.tuanthinhco.com/quote-book/#" data-ico-fa="" data-slimstat="5"></a>
                                            </div>
                                        </div>
                                        <div class="sTxt">
                                            <header class="header small">
                                                <h3>
                                                    <span class="dash"><span class="h2content">Bước 2</span></span>
                                                </h3>
                                            </header>
                                            <p>Nội dung (hạng mục công việc) yêu cầu báo giá<br></p>
                                        </div>
                                    </div>
                                    <div class="servicesItem ">
                                        <div class="sIcon">
                                            <div class="ico borderless">
                                                <a href="http://www.tuanthinhco.com/quote-book/#" data-ico-fa="" data-slimstat="5"></a>
                                            </div>
                                        </div>
                                        <div class="sTxt">
                                            <header class="header small">
                                                <h3>
                                                    <span class="dash"><span class="h2content">Bước 3</span></span>
                                                </h3>
                                            </header>
                                            <p>Đặt lịch hẹn với công ty<br></p>
                                        </div>
                                    </div>
                                    <div class="servicesItem ">
                                        <div class="sIcon">
                                            <div class="ico borderless">
                                                <a href="#" data-ico-fa="" data-slimstat="5"></a>
                                            </div>
                                        </div>
                                        <div class="sTxt">
                                            <header class="header small">
                                                <h3>
                                                    <span class="dash"><span class="h2content">Bước 4</span></span>
                                                </h3>
                                            </header>
                                            <p>Công ty sẽ liên hệ với quý khách để lấy thêm thông tin nếu cần thiết và báo giá sẽ được gửi đến quý khách sau đó<br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /bt_content -->

    </div>
    <!-- /contentHolder -->
</div>