﻿@model List<InoxPhuocThanh.Models.ProductViewModel>
@{
    ViewBag.Title = "Sỉ lẻ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productpage">
    <div class="breadcurb-area">
        <div class="container">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>Bán sỉ & lẻ</li>
            </ul>
        </div>
    </div>
    <!-- Product Item AREA -->
    <div class="product-item-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="product-type">
                        @Html.Action("CategoryPartial", "Category")
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="product-item-list">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="product-item-heading">
                                    <div class="item-heading-title">
                                        <h2>Bàn ghế</h2>
                                    </div>
                                    <div class="result-short-view">
                                        <div class="result-short">
                                            <p>Có @Model.Count kết quả được tìm thấy </p>
                                            <div class="result-short-selection">
                                                <select>
                                                    <option>Mặc định</option>
                                                    <option>Sắp xếp theo lượt yêu thích</option>
                                                    <option>Sắp xếp theo đánh giá</option>
                                                    <option>Sắp xếp theo sản phẩm mới</option>
                                                    <option>Sắp xếp giá từ thấp lên cao</option>
                                                    <option>Sắp xếp giá từ cao xuống thấp</option>
                                                </select>
                                                <i class="fa fa-sort-alpha-asc"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @for (int i =0; i < Model.Count; i++)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-item-area">
                                        <div class="single-item">
                                            <div class="product-item-img">
                                                <a href="#">
                                                    <img class="primary-img" src="~/img/shop/Single-product-3.jpg" alt="item">
                                                    <img class="secondary-img" src="~/img/shop/Single-product-3.jpg" alt="item">
                                                </a>
                                                <div class="product-item-action">
                                                    <a><i class="fa fa-external-link"></i></a>
                                                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            <div class="single-item-content">
                                                <h2><a href="#">@Model[i].Product_name</a></h2>
                                                <div class="best-product-rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                                <h3>Giá :@Model[i].Price</h3>
                                            </div>
                                        </div>
                                        <div class="item-action-button fix">
                                            <a href="#">Thêm giỏ hàng</a>
                                            <div class="item-action-icon">
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                                <a href="#"><i class="fa fa-signal"></i></a>
                                                <a href="@Url.Action("Index","ProductDetail",new { id = @Model[i].Product_id})"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="shop-pagination floatright">
                        <ul class="pagination">
                            @for (int i = 1; i <= @Model[0].PageNumber; i++)
                            {
                                <li><a href="@Url.Action("Index", "Product", new {searchValue = (string)Session["name"], category = (int)Session["category"] ,type = (int)Session["type"], pageNum = @i})">@i</a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
