﻿
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Trang Chủ</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card col-12">
                @*<div class="card-body">
                    <h4 class="card-title">Đơn Hàng Mới</h4>
                </div>*@
                <br />
                <div class="table-responsive">
                    @*<div class='form-inline'><div class='form-group'><label>Tìm Kiếm</label><input class="form-control form-control-sm" id="customSearchBox" /></div></div>*@
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Tên</th>
                                <th class="border-top-0">Trạng Thái</th>
                                <th class="border-top-0">DATE</th>
                                <th class="border-top-0">PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-oflo">Elite admin</td>
                                <td><span class="label label-success label-rounded">Hoạt Động</span> </td>
                                <td class="txt-oflo">April 18, 2017</td>
                                <td><span class="font-medium">$24</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Real Homes WP Theme</td>
                                <td><span class="label label-info label-rounded">EXTENDED</span></td>
                                <td class="txt-oflo">April 19, 2017</td>
                                <td><span class="font-medium">$1250</span></td>
                            </tr>
                            <tr>

                                <td class="txt-oflo">Ample Admin</td>
                                <td><span class="label label-purple label-rounded">Tax</span></td>
                                <td class="txt-oflo">April 19, 2017</td>
                                <td><span class="font-medium">$1250</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Medical Pro WP Theme</td>
                                <td><span class="label label-success label-rounded">Sale</span></td>
                                <td class="txt-oflo">April 20, 2017</td>
                                <td><span class="font-medium">-$24</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Hosting press html</td>
                                <td><span class="label label-success label-rounded">SALE</span></td>
                                <td class="txt-oflo">April 21, 2017</td>
                                <td><span class="font-medium">$24</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-danger label-rounded">Tax</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="font-medium">-$14</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var user = $('#table').DataTable({
            "language": {
                "lengthMenu": "<div class='form-inline'><div class='form-group'><label>Xem&nbsp</label>" +
                    "<select class='form-control form-control-sm form-control-line'>" +
                    "<option value='10'>10</option>" +
                    "<option value='25'>25</option>" +
                    "<option value='50'>50</option></select><label>&nbspmục</label</div></div>",
                "zeroRecords": "Không tìm thấy dòng nào phù hợp",
                "info": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "infoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "infoFiltered": "(được lọc từ _MAX_ mục)",
                "search": "Tìm kiếm",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                },
            },
            "dom": 'lrtip'
        });
        $('#customSearchBox').keyup(function () {
            user.search($(this).val()).draw();
        });

    });
</script>