﻿@model List<InoxPhuocThanh.Models.BlogViewModel>
@{
    ViewBag.Title = "Cẩm nang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HEADER AREA -->
<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li>@Html.ActionLink("Cẩm nang","Index/0", "Blog")</li>
        </ul>
    </div>
</div>
<!-- Product Item AREA -->
<div class="Single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">

                <div class="single-blog-post-area fix">

                    <div class="single-blog-post fix">
                        @foreach (var blog in Model)
                        {
                            <div class="blog-img single-add">
                                <a href="#"><img src="~/img/blog/single-blog/b-head.jpg" alt="blog"></a>
                            </div>
                            <div class="single-blog-content fix">
                                <div class="blog-heading-title fix">
                                    <h1>@blog.Blog_name </h1>
                                    <p>Đăng bởi: <a href="#">@blog.Blog_author</a> </p>
                                    <p><i class="fa fa-clock-o"></i>@blog.Blog_created_date</p>
                                </div>
                                <div class="blog-main-content fix">
                                    <p>
                                        @blog.Blog_description
                                    </p>
                                </div>
                            </div>
                            <div class="single-blog-bottom-content">
                                <p>
                                    @blog.Blog_summary
                                </p>
                            </div>
                            <div class="social-share-icon">
                                <p>Chia sẻ</p>
                                <ul class="list-inline">
                                    <li><a target='_blank' href='http://www.facebook.com/share.php?u=https://www.google.com/' title='Chia sẽ lên Facebook'><img src='~/img/social-1.jpg' /></a></li>
                                </ul>
                            </div>
                        }



                    </div>

                </div>
                <div class="single-blog-pagination shop-pagination">
                    <ul class="pagination">
                        @for (int i = 1; i <= @Model[0].PageNumber; i++)
                        {
                            <li><a href="@Url.Action("Index", "Blog", new {pageNum = @i})">@i</a></li>
                        }

                    </ul>
                </div>
            </div>
            @Html.Action("BlogPartial", "Blog")
        </div>
    </div>
</div>