﻿@model List<InoxPhuocThanh.Models.BlogViewModel>
<div class="col-md-3 col-sm-4">

    <div class="feature-post right-post-area">
        <div class="single-right-post">
            <div class="post-head">
                <h2>Tin mới</h2>
            </div>
            @foreach (var mode in Model)
            {
                <div class="post-img-content">
                    <div class="post-img single-add">
                        <a href="#"><img src="~/img/blog/f1.jpg" alt="post"></a>
                        @*<a href="#"><img src="img/blog/@mode.Product_image" alt="post"></a>*@
                    </div>
                    <div style="text-align:left">
                        <b class="col-md-12"><a style="color:#2B82AD;" href="@Url.Action("Index","Blog",new { Id = mode.Blog_id})"> @mode.Blog_name</a></b>
                        <b class="col-md-12" style="text-align: right">@mode.Blog_created_date.ToString("MM/dd/yyyy H:mm")</b>
                    </div>
                    <br />
                    <br />
                </div>
            }
        </div>
    </div>
</div>

