﻿@model InoxPhuocThanh.Models.ProductViewModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcurb AREA -->
    <div class="breadcurb-area">
        <div class="container">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Sản phẩm", "Index", "Product")</li>
                <li>Chi tiết sản phẩm</li>
            </ul>
        </div>
    </div>
<!-- Product Item AREA -->
<div class="product-item-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="product-catagori-area">
                    <div class="product-categeries">
                        @Html.Action("CategoryPartial", "Category")
                    </div>
                    <div class="subscribe-area">
                        <h2>Thư đăng ký</h2>
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Vui lòng nhập mail">
                                <button type="button" class="btn"><i class="fa fa-envelope-o"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="product-item-tab">
                            <!-- Tab panes -->
                            <div class="single-tab-content">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="img-one"><img src="img/single-product/Single-product-6.jpg" alt="tab-img"></div>
                                    <div role="tabpanel" class="tab-pane" id="img-two"><img src="img/single-product/single-product-6.jpg" alt="tab-img"></div>
                                    <div role="tabpanel" class="tab-pane" id="img-three"><img src="img/single-product/single-product-6.jpg" alt="tab-img"></div>
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            <div class="single-tab-img">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#img-one" role="tab" data-toggle="tab"><img src="img/single-product/Single-product-5.jpg" alt="tab-img"></a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#img-two" role="tab" data-toggle="tab"><img src="img/single-product/Single-product-5.jpg" alt="tab-img"></a>
                                    </li>
                                    <li role="presentation" class="tab-last-li">
                                        <a href="#img-three" role="tab" data-toggle="tab"><img src="img/single-product/Single-product-5.jpg" alt="tab-img"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="product-tab-content">
                            <div class="product-tab-header">
                                <h1>@Model.Product_name</h1>
                                <div class="best-product-rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <p>(3 người review)</p>
                                </div>
                                <h3>Giá bán: @Model.Price</h3>
                            </div>
                            <div class="product-item-code">
                                <p>Mã sản phẩm : #897896</p>
                                <p>Hàng tồn kho : @Model.Product_quantity</p>
                            </div>
                            <div class="product-item-details">
                                <p>@Model.Product_description </p>
                            </div>

                            <div class="available-option">

                                <div class="size-option fix">
                                    <p>Kích cỡ:</p>
                                    <select>
                                        <option value="Choose an option">Lựa chọn</option>
                                        <option value="Lg">Nhỏ(4 ghế)</option>
                                        <option value="Xs">Vừa(6 ghế)</option>
                                        <option value="Xs">Lớn(8 ghế)</option>
                                    </select>
                                </div>
                                <div class="wishlist-icon">
                                    <div class="single-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <p>Yêu thích</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="description-tab">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Mô tả</a></li>
                                <li role="presentation"><a href="#information" role="tab" data-toggle="tab">Thông tin</a></li>
                                <li role="presentation">
                                    <a href="#reviews" role="tab" data-toggle="tab">
                                        Đánh giá
                                        (3)
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="description">
                                    <p>Bộ bàn ăn inox 1 bàn + 10 ghế inox của nội thất Đại Ngân hiện đang rất HOT của gian hàng.</p>

                                    <p> Mừng ngày thành lập, công ty chúng tôi giảm giá cực sốc cho mẫu bàn ăn đang được rất nhiều gia đình sử dụng.</p>

                                    <p>
                                        Giá gốc 2.200.000đ nay chỉ còn 1.800.000đ, giá đổi, chất lượng không đổi.
                                    </p>

                                    <p>Bao gồm:</p>
                                    <p> - Bàn inox: Đường kính 1m2, chân ống phi 32, chất liệu inox SUS 201 100%</p>

                                    <p> - Ghế inox: Gồm 10 ghế inox mặt Hwata, chân ghế phi 25, dầy 0.7mm</p>

                                    <p> Bảo hành: 12 tháng
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="information">
                                    <p>Bộ bàn ăn inox 1 bàn + 10 ghế inox của nội thất Đại Ngân hiện đang rất HOT của gian hàng.</p>

                                    <p> Mừng ngày thành lập, công ty chúng tôi giảm giá cực sốc cho mẫu bàn ăn đang được rất nhiều gia đình sử dụng.</p>

                                    <p>
                                        Giá gốc 2.200.000đ nay chỉ còn 1.800.000đ, giá đổi, chất lượng không đổi.
                                    </p>

                                    <p>Bao gồm:</p>
                                    <p> - Bàn inox: Đường kính 1m2, chân ống phi 32, chất liệu inox SUS 201 100%</p>

                                    <p> - Ghế inox: Gồm 10 ghế inox mặt Hwata, chân ghế phi 25, dầy 0.7mm</p>

                                    <p> Bảo hành: 12 tháng
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="reviews">
                                    <p>Bộ bàn ăn inox 1 bàn + 10 ghế inox của nội thất Đại Ngân hiện đang rất HOT của gian hàng.</p>

                                    <p> Mừng ngày thành lập, công ty chúng tôi giảm giá cực sốc cho mẫu bàn ăn đang được rất nhiều gia đình sử dụng.</p>

                                    <p>
                                        Giá gốc 2.200.000đ nay chỉ còn 1.800.000đ, giá đổi, chất lượng không đổi.
                                    </p>

                                    <p>Bao gồm:</p>
                                    <p> - Bàn inox: Đường kính 1m2, chân ống phi 32, chất liệu inox SUS 201 100%</p>

                                    <p> - Ghế inox: Gồm 10 ghế inox mặt Hwata, chân ghế phi 25, dầy 0.7mm</p>

                                    <p>Bảo hành: 12 tháng
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-product-slider similar-product">
                            <div class="product-items">
                                <h2 class="product-header">Sản phẩm tương tự</h2>
                                <div class="row">
                                    <div id="singleproduct-slider" class="owl-carousel">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#">Bộ bàn ghế</a></h2>
                                                        <p>Loại cao cấp</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>5.000.000 đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#">Bộ bàn ghế ăn</a></h2>
                                                        <p>Loại Inox 204</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>4.000.000đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#">Bộ bàn ghế </a></h2>
                                                        <p>Loại 1</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>4.000.000 đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#">Bộ bàn ghế</a></h2>
                                                        <p>Loại 2</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>3.000.000 đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#">Bộ bàn ghế</a></h2>
                                                        <p>Loại 3</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>1.500.000 đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                        <img class="secondary-img" src="/img/shop/Single-product-3.jpg" alt="product">
                                                    </a>
                                                    <div class="single-product-action">
                                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-left">
                                                        <h2><a href="#"> Bàn ghế ngồi</a></h2>
                                                        <p>Loại thường</p>
                                                    </div>
                                                    <div class="product-content-right">
                                                        <h3>950.000 đồng</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

