﻿.contentWrap:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    z-index: -1;
    background-image: -webkit-linear-gradient(top,#eaeaea,#fff);
    background-image: -webkit-linear-gradient(top,#eaeaea,#fff);
    background-image: -moz-linear-gradient(top,#eaeaea,#fff);
    background-image: linear-gradient(top,#eaeaea,#fff);
    background-image: -webkit-linear-gradient(top,#eaeaea,#fff);
    background-image: -moz-linear-gradient(top,#eaeaea,#fff);
    background-image: linear-gradient(to bottom,#eaeaea,#fff)
}

.contentWrap {
    position: relative
}

.contentHolder {
    width: 86%;
    margin: 0 auto;
    padding: 0
}

.btIsMobile .contentHolder {
    margin: 0;
    width: auto
}

.mainHeader:after, .menuHolder .port:after, .topBarPort:after, .boldSiteFooter:before, .boldSiteFooter:after, .boldSiteFooter .port:after, .contentWrap:after, .contentHolder:after, .btBox:after, .boldSection .port:after, .header:after, .boldRow:after, .socialRow:before, .socialRow:after, .servicesItem .sIcon:after, .boldSection:before, .boldSection:after, .psCats:after, .psWrap:after, .btTabs:after, .tabsHeader:after, .neighboringArticles:after, .articleListItem footer:after, .btPagination:after, .boldArticleBody blockquote:after, .tilesWall.classic .bgiTxt:after, .btQuoteItem:after, .boldArticleHeader .socialRow:before {
    content: " ";
    display: table;
    width: 100%;
    clear: both
}
body {
    font-family: sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fff
}

.boldSection.topSpaced .port {
    padding-top: 40px
}

hr.topSpaced {
    margin-top: 40px
}
.header {
    display: block
}

    .header h2 .h2content, .header h3 .h2content {
        padding-top: 15px;
        display: block
    }

.sTxt .header h2 .h2content, .sTxt .header h3 .h2content {
    padding: 0
}
.dash {
    display: inline-block
}

.header.topDash {
    position: relative;
    z-index: 2
}

.topDash .dash {
    border-top: 5px solid #006699
}

.bottomDash .dash {
    border-bottom: 5px solid #006699;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.topDash h3, .topDash h2 {
    margin-top: -5px
}

.bottomDash h3, .bottomDash h2 {
    margin: 0 0 -5px
}


.servicesItem .ico a:before {
    width: 44px;
    height: 44px;
    font-size: 25px;
    line-height: 42px
}
.cellLeft .servicesItem {
    padding-left: 58px
}

.cellLeft {
    text-align: left
}
    .cellLeft .servicesItem {
        float: left;
        padding-left: 70px;
        clear: left
    }

    .cellLeft .sIcon {
        width: 56px;
        float: left;
        margin: -4px 0 0 -66px
    }
        .cellLeft .sIcon .ico {
            float: left;
            margin: 0 0 0 8px
        }
    .cellLeft .sTxt {
        float: left;
        padding: 6px 0 0
    }
.ico a:before, .iconsToggler {
    display: inline-block;
    float: left;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: normal;
    border-radius: 50%;
    color: #999;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 0 0 0 #006699 inset;
    box-shadow: 0 0 0 0 #006699 inset;
    -webkit-transition: all 240ms ease;
    -moz-transition: all 240ms ease;
    transition: all 240ms ease
}

.servicesItem .ico a:before {
    width: 44px;
    height: 44px;
    font-size: 25px;
    line-height: 42px
}
.ico.borderless a:before {
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}
.ico a:hover:before {
    color: #fff;
    -webkit-box-shadow: 0 0 0 .9em #006699 inset;
    box-shadow: 0 0 0 .9em #006699 inset;
    border: 1px solid transparent;
    -webkit-transition: all 240ms ease;
    -moz-transition: all 240ms ease;
    transition: all 240ms ease
}
.ico a[data-ico-bold]:before {
    font-family: reconstruction;
    content: attr(data-ico-bold)
}

.ico a[data-ico-fa]:before {
    font-family: FontAwesome;
    content: attr(data-ico-fa)
}

.ico a[data-ico-s7]:before {
    font-family: Icon7Stroke;
    content: attr(data-ico-s7)
}

.btContactFieldMandatory input, .btContactFieldMandatory .trigger {
    border: 1px solid #ccc
}
.btSubmitMessage {
    margin-left: 10px;
    color: #006699;
    font-weight: 600
}
.btContactFieldMandatory.btContactFieldError input, .btContactFieldMandatory.btContactFieldError .trigger {
    border: 1px solid #006699
}


.btQuoteContact {
    margin: 0 -10px
}

    .btQuoteContact .btQuoteItem {
        padding: 0 10px;
        float: left;
        width: 50%
    }

        .btQuoteContact .btQuoteItem:nth-child(odd) {
            clear: left
        }

.btQuoteItem.btQuoteItemFullWidth {
    float: none;
    width: auto
}

.btQuoteContact .boldBtn {
    clear: left;
    margin: 0 0 10px 10px
}

.btContactFieldMandatory input, .btContactFieldMandatory .trigger {
    border: 1px solid #ccc
}
.mainHeader:after, .menuHolder .port:after, .topBarPort:after, .boldSiteFooter:before, .boldSiteFooter:after, .boldSiteFooter .port:after, .contentWrap:after, .contentHolder:after, .btBox:after, .boldSection .port:after, .header:after, .boldRow:after, .socialRow:before, .socialRow:after, .servicesItem .sIcon:after, .boldSection:before, .boldSection:after, .psCats:after, .psWrap:after, .btTabs:after, .tabsHeader:after, .neighboringArticles:after, .articleListItem footer:after, .btPagination:after, .boldArticleBody blockquote:after, .tilesWall.classic .bgiTxt:after, .btQuoteItem:after, .boldArticleHeader .socialRow:before {
    content: " ";
    display: table;
    width: 100%;
    clear: both
}
.btQuoteItem {
    padding: 0 0 0 170px;
    margin: 0 0 30px
}
    .btQuoteItem label {
        display: block;
        float: left;
        margin: 8px 0 0 -170px
    }

.btQuoteBooking {
    margin: 0
}

hr {
    clear: both;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #b1b1b1
}

    hr.noBorder {
        border-bottom: 1px solid transparent
    }

.boldSection.topSmallSpaced .port {
    padding-top: 15px
}

.boldSection.topSemiSpaced .port {
    padding-top: 30px
}

hr.topSmallSpaced {
    margin-top: 15px
}

.form-submit input[type="submit"] {
    display: none
}

input, textarea {
    outline: none
}

a {
    text-decoration: none;
    color: #006699
}

    a:hover {
        text-decoration: none
    }

    a img {
        border: none
    }

    a, a:active, a:focus {
        outline: none
    }

.no-touch a {
    -webkit-transition: all 360ms ease 0s;
    -moz-transition: all 360ms ease 0s;
    transition: all 360ms ease 0s
}

    .no-touch a:hover {
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s
    }
  .boldBtn {
     display: inline-block
 }
 
     .boldBtn.btnBlock {
         display: block
     }
 
 .cellLeft .boldBtn {
     margin: 0 15px 0 0
 }


 
 .boldBtn a, .boldBtn button {
     border: none;
     cursor: pointer;
     display: block;
     font-size: 14px;
     line-height: 1;
     font-weight: 300;
     padding: 14px 18px;
     color: #333;
     background-color: #fff;
     position: relative;
     -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;
     box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;
     -webkit-transition: all 350ms ease;
     -moz-transition: all 350ms ease;
     transition: all 350ms ease
 }
 
     .boldBtn a:hover, .boldBtn button:hover, .boldArticle .boldBtn a:hover {
         color: #fff;
         background-color: #333;
         text-decoration: none;
         -webkit-transition: all 250ms ease;
         -moz-transition: all 250ms ease;
         transition: all 250ms ease
     }
 
 .boldBtn.btnBig a, .boldBtn.btnBig button {
     text-transform: uppercase;
     font-weight: 700;
     padding: 15px 20px
 }
 
 .boldBtn.btnIco a, .boldBtn.btnIco button {
     padding: 14px 60px 14px 18px
 }
 
 .boldBtn.btnBig.btnIco a, .boldBtn.btnBig.btnIco button {
     padding: 15px 62px 15px 20px
 }
 
 .boldBtn.accent a, .boldBtn.accent button {
     color: #fff;
     background-color: #006699;
     position: relative;
     z-index: 2
 }
 
     .boldBtn.accent a:hover, .boldBtn.accent button:hover {
         background-color: #fff;
         color: #006699
     }
 
 .boldBtn.btnDark a, .boldBtn.btnDark button {
     color: #fff;
     background-color: #333
 }
 
     .boldBtn.btnDark a:hover, .boldBtn.btnDark button:hover {
         color: #333;
         background-color: #e8e8e8
     }
 
 .boldBtn.btnAccent a, .boldBtn.btnAccent button {
     color: #fff;
     background-color: #006699
 }
 
     .boldBtn.btnAccent a:hover, .boldBtn.btnAccent button:hover {
         color: #333;
         background-color: #e8e8e8
     }
 
 .boldBtn.btnGray a, .boldBtn.btnGray button {
     color: #333;
     background-color: #e8e8e8
 }
 
     .boldBtn.btnGray a:hover, .boldBtn.btnGray button:hover {
         color: #fff;
         background-color: #006699
     }

.boldBtn.btnIco a:before, .boldBtn.btnIco button:before {
    text-align: center;
    width: 42px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 12px 0 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    background-color: rgba(0,0,0,.1)
}

.btQuoteContact {
    margin: 0 -10px
}

    .btQuoteContact .btQuoteItem {
        padding: 0 10px;
        float: left;
        width: 50%
    }

        .btQuoteContact .btQuoteItem:nth-child(odd) {
            clear: left
        }

.btQuoteItem.btQuoteItemFullWidth {
    float: none;
    width: auto
}

.btQuoteContact .boldBtn {
    clear: left;
    margin: 0 0 10px 10px
}


input[type="email"], input[type="password"], textarea, .fancy-select .trigger {
    width: 100%;
    display: block;
    height: 42px;
    padding: 0 12px;
    border: none;
    background-color: #e8e8e8;
    font-family: Raleway,arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all 380ms ease;
    -moz-transition: all 380ms ease;
    transition: all 380ms ease
}
textarea {
    resize: vertical;
    font-size: 13px;
    color: #333
}



.btContactField {
    width: 100%;
    display: block;
    height: 42px;
    padding: 0 12px;
    border: none;
    background-color: #e8e8e8;
    font-family: Raleway,arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all 380ms ease;
    -moz-transition: all 380ms ease;
    transition: all 380ms ease
}
.btContactMessage {
    width: 100%;
    display: block;
    padding: 12px;
    border: none;
    background-color: #e8e8e8;
    font-family: Raleway,arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all 380ms ease;
    -moz-transition: all 380ms ease;
    transition: all 380ms ease padding: 12px;
    height: 160px
}
.btContactFieldMandatory.btContactFieldError input, .btContactFieldMandatory.btContactFieldError .trigger {
    border: 1px solid #006699
}
.btQuoteItem {
    padding: 0 0 0 170px;
    margin: 0 0 30px
}

    .btQuoteItem label {
        display: block;
        float: left;
        margin: 8px 0 0 -170px
    }

.boldBtn.btnIco a[data-ico-bold]:before,
.boldBtn.btnIco button[data-ico-bold]:before {
    content: attr(data-ico-bold);
    font-family: reconstruction
}
div.scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

