﻿@model List<InoxPhuocThanh.Models.ProductViewModel>
<div class="product-items">
    <h2 class="product-header">SẢN PHẨM MỚI</h2>
    <div class="row">
        <div id="product-slider" class="owl-carousel">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="single-product">
                        <div class="single-product-img">
                            <a href="#">
                                <img class="primary-img" src="@product.Product_image"
                                     alt="product">
                                <!-- <img class="secondary-img" src="~/img/product/kids-1.jpg"
                        alt="product"> -->
                            </a>
                            <div class="single-product-action">
                                <a href="#"><i class="fa fa-external-link"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="single-product-content">
                            <div class="product-content-left">
                                <h2><a href="#">@product.Product_name</a></h2>
                                <p>@product.Product_name</p>
                            </div>
                            <div class="product-content-right">
                                <h3>@product.Product_price.ToString("N0")</h3>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>