﻿@model List<InoxPhuocThanh.Models.CategoryViewModel>
@{
    ViewBag.Title = "Trang Chủ";
}
<div class="slider-area">
    <div class="container-fluid py-0">
        <div class="col-md-12 col-sm-12 py-0">
            <!-- Main Slider -->
            <div class="main-slider">
                <div class="slider">
                    <div id="mainSlider" class="nivoSlider slider-image">
                        <img src="~/img/slider/s1.jpg" alt="main slider" title="#htmlcaption1" />
                        <img src="~/img/slider/s5.jpg" alt="main slider" title="#htmlcaption2" />
                    </div>
                    <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                        <div class="slide-text">
                            <div class="middle-text">
                                <div class="cap-title wow slideInRight" data-wow-duration="1.9s"
                                     data-wow-delay="0.9s">
                                </div>
                                <div class="cap-dec wow slideInRight" data-wow-duration="2.1s" data-wow-delay="0s">
                                    <p>Khuyến mãi tới</p>
                                    <h1>
                                        37% <p><strike>570.000</strike> - <b>450.000</b></p>
                                    </h1>
                                </div>
                                <div class="cap-readmore animated bounceIn" data-wow-duration="2.5s"
                                     data-wow-delay=".9s">
                                    <a href="#">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
                        <div class="slide-text">
                            <div class="middle-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SUPPORT AREA -->
    <div class="support-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-support">
                        <div class="sigle-support-icon">
                            <p><i class="fa fa-star"></i></p>
                        </div>
                        <div class="sigle-support-content">
                            <h2>CHẤT LƯỢNG </h2>
                            <p>Hàng đầu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-support">
                        <div class="sigle-support-icon">
                            <p><i class="fa fa-star-o"></i></p>
                        </div>
                        <div class="sigle-support-content">
                            <h2>UY TÍN</h2>
                            <p>Đảm bảo với khách hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-support">
                        <div class="sigle-support-icon">
                            <p><i class="fa fa-money"></i></p>
                        </div>
                        <div class="sigle-support-content">
                            <h2>GIÁ TỐT</h2>
                            <p>Sản xuất gốc tại xưởng</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="single-support">
                        <div class="sigle-support-icon">
                            <p><i class="fa fa-clock-o"></i></p>
                        </div>
                        <div class="sigle-support-content">
                            <h2>CAM KẾT</h2>
                            <p>Giao hàng nhanh</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-3 hidden-sm col-xs-12">
                        <div class="single-support">
                            <div class="sigle-support-icon">
                                <p><i class="fa fa-clock-o"></i></p>
                            </div>
                            <div class="sigle-support-content">
                                <h2>BẢO HÀNH</h2>
                                <p>Bảo hành 24/7</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- Product AREA -->
    <div class="product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="product-catagori-area">
                        @Html.Action("CategoryPartial", "Category")
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="product-items-area">
                        @Html.Action("NewProductPartial", "Home")
                        @foreach (var cate in Model.Take(2))
                        {
                            <div class="product-items">
                                <h2 class="product-header">@cate.Category_name</h2>
                                <div class="row">
                                    <div id="product-slider" class="owl-carousel">
                                        @foreach (var product in cate.Product)
                                        {
                                            <div class="col-md-4">
                                                <div class="single-product">
                                                    <div class="single-product-img">
                                                        <a href="#">
                                                            <img class="primary-img" src="~/img/product/pro4.jpg"
                                                                 alt="product">
                                                            <!-- <img class="secondary-img" src="~/img/product/kids-1.jpg"
                                        alt="product"> -->
                                                        </a>
                                                        <div class="single-product-action">
                                                            <a href="#"><i class="fa fa-external-link"></i></a>
                                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-content">
                                                        <div class="product-content-left">
                                                            <h2><a href="#">@product.Product_name</a></h2>
                                                            <p>@product.Product_name</p>
                                                        </div>
                                                        <div class="product-content-right">
                                                            <h3>@product.Product_price.ToString("#,##0")</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }                                      
                                    </div>
                                </div>
                            </div>
                        }                      
                        <div class="arrivals-area single-add">
                            <a href="#"> <img src="~/img/banner/arrivals.jpg" alt="arrivals"> </a>
                        </div>
                        @foreach (var cate in Model.Skip(2))
                        {
                            <div class="product-items">
                                <h2 class="product-header">@cate.Category_name</h2>
                                <div class="row">
                                    <div id="product-slider-women" class="owl-carousel">
                                        @foreach (var product in cate.Product)
                                        {
                                            <div class="col-md-4">
                                                <div class="single-product">
                                                    <div class="single-product-img">
                                                        <a href="#">
                                                            <img class="primary-img" src="~/img/product/single-product-2.jpg"
                                                                 alt="product">
                                                            <img class="secondary-img"
                                                                 src="~/img/product/single-product-2.jpg" alt="product">
                                                        </a>
                                                        <div class="single-product-action">
                                                            <a href="#"><i class="fa fa-external-link"></i></a>
                                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-content">
                                                        <div class="product-content-left">
                                                            <h2><a href="#">@product.Product_name</a></h2>
                                                            <p>@product.Product_name</p>
                                                        </div>
                                                        <div class="product-content-right">
                                                            <h3>@product.Product_price.ToString("#,##0")</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }                                      
                                    </div>
                                </div>
                            </div>
                        }
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>