﻿@model InoxPhuocThanh.Areas.AdminPT.Models.ProductTypeViewModel
@{
    ViewBag.Title = "Chi Tiết Danh Mục Sản Phẩm Con";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var data = (List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>)ViewData["Categories"];
}
@Html.Hidden("IsActive", Model.IsActive, new { id = "activeRatio" })
<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Chi Tiết Danh Mục Sản Phẩm Con</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" method="POST" action="../../SubCategories/UpdateSubCate">
                    @Html.Hidden("Product_type_id", Model.Product_type_id)
                    <div class="form-group">
                        <label class="col-md-12">Tên Danh Mục SP Con</label>
                        <div class="col-md-12">
                            <input type="text" name="Product_type_name" value="@Model.Product_type_name" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Danh Mục</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="Category_id">
                                @foreach (var cate in data)
                                {
                                    if (cate.Category_id == Model.Category_id)
                                    {
                                        <option value="@cate.Category_id" selected>@cate.Category_name</option>
                                    }
                                    else
                                    {
                                        <option value="@cate.Category_id">@cate.Category_name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Số Lượng</label>
                        <div class="col-md-12">
                            <input type="text" name="Product_quantity" value="@Model.Product_quantity" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Trạng Thái</label>
                        <div class="col-12 d-flex">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="IsActive" value="true" class="custom-control-input" checked="checked">
                                <label class="custom-control-label" for="customRadio1">Hoạt Động</label>
                            </div>
                            &nbsp;
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="IsActive" value="false" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Đang Đóng</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex">
                            <button class="btn btn-success mx-1" id="Save">Lưu</button>
                            <a class="btn btn-danger" href="@Url.Action("SubIndex", "SubCategories",new {Id= Model.Category_id})">Trở Về</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var isActive = $("#activeRatio").val().toLowerCase();
        var customRadio1 = $('#customRadio1');
        var customRadio2 = $('#customRadio2');
        if (isActive == 'true') {
            customRadio1.prop("checked", true);
        } else {
            customRadio2.prop("checked", true);
        }
    });

</script>
