﻿@model List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>
@{
    ViewBag.Title = "Danh Mục Sản Phẩm Con";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var checkCate = (int)ViewData["checkCate"];
}
<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Danh Mục Sản Phẩm Con</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="list-group">
                        @foreach (var cate in Model)
                        {
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="@Url.Action("SubIndex", "SubCategories",new { Id= cate.Category_id})">
                                @cate.Category_name
                                <span class="badge badge-primary badge-info">@cate.ProductType.Count()</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xlg-9 col-md-7">
            <div class="card col-12">
                <div class="card-body">
                    <a class="btn btn-success" href="@Url.Action("Insert", "SubCategories",new {Id= checkCate })"><i class="mdi mdi-plus"></i>&nbsp;Thêm </a>
                </div>
                <br />
                <div class="table-responsive ">
                    @*<div class='form-inline'><div class='form-group'><label>Tìm Kiếm</label><input class="form-control form-control-sm" id="customSearchBox" /></div></div>*@
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">STT</th>
                                <th class="border-top-0">Tên</th>
                                <th class="border-top-0">Danh Mục</th>
                                <th class="border-top-0">Số Lượng</th>
                                <th class="border-top-0">Trạng Thái</th>
                                <th class="border-top-0">Ngày Tạo</th>
                                <th class="border-top-0"></th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 1;}
                            @if (checkCate == 0)
                            {
                                foreach (var product in Model.FirstOrDefault().ProductType)
                                {
                            <tr>
                                <td class="txt-oflo">@(count++)</td>
                                <td class="txt-oflo">@product.Product_type_name</td>
                                <td class="txt-oflo">@Model.FirstOrDefault().Category_name</td>
                                <td class="txt-oflo text-center">@product.Product_quantity</td>
                                @if (product.IsActive == true)
                                {
                                    <td><span class="label label-success label-rounded">Hoạt Động</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger label-rounded">Đang Đóng</span></td>
                                }
                                <td class="txt-oflo">@product.DateCreate.ToString("dd-MM-yyyy")</td>
                                <td>@Html.ActionLink("Chi Tiết", "Detail", "SubCategories", new { Id = product.Product_type_id, cateId = product.Category_id }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Xóa", "RemoveSubCate", "SubCategories", new { CateId = product.Category_id, Id = product.Product_type_id }, new { @class = "btn btn-danger" }) </td>
                            </tr>
                                }
                            }
                            else
                            {
                                foreach (var product in Model.Where(x => x.Category_id == checkCate).FirstOrDefault().ProductType)
                                {
                            <tr>
                                <td class="txt-oflo">@(count++)</td>
                                <td class="txt-oflo">@product.Product_type_name</td>
                                <td class="txt-oflo">@Model.Where(x => x.Category_id == checkCate).FirstOrDefault().Category_name</td>
                                <td class="txt-oflo text-center">@product.Product_quantity</td>
                                @if (product.IsActive == true)
                                {
                                    <td><span class="label label-success label-rounded">Hoạt Động</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger label-rounded">Đang Đóng</span></td>
                                }
                                <td class="txt-oflo">@product.DateCreate.ToString("dd-MM-yyyy")</td>
                                <td>@Html.ActionLink("Chi Tiết", "Detail", "SubCategories", new { Id = product.Product_type_id, cateId = product.Category_id }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Xóa", "RemoveSubCate", "SubCategories", new { CateId = product.Category_id, Id = product.Product_type_id }, new { @class = "btn btn-danger" }) </td>
                            </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var user = $('#table').DataTable({
            "language": {
                "lengthMenu": "<div class='form-inline'><div class='form-group'><label>Xem&nbsp</label>" +
                    "<select class='form-control form-control-sm form-control-line'>" +
                    "<option value='10'>10</option>" +
                    "<option value='25'>25</option>" +
                    "<option value='50'>50</option></select><label>&nbspmục</label</div></div>",
                "zeroRecords": "Không tìm thấy dòng nào phù hợp",
                "info": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "infoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "infoFiltered": "(được lọc từ _MAX_ mục)",
                "search": "Tìm kiếm",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                },
            },
            "dom": 'lrtip'
        });
        $('#customSearchBox').keyup(function () {
            user.search($(this).val()).draw();
        });
    });
</script>
