﻿@model InoxPhuocThanh.Areas.AdminPT.Models.ProductTypeViewModel
@{
    ViewBag.Title = "Thêm Danh Mục Sản Phẩm Con";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var checkCate = (int)Session["checkCate"];
    var categories = (List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>)ViewData["categories"];
}

<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Thêm Danh Mục Sản Phẩm Con</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm("Insert", "SubCategories", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_type_name, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @*<input type="text" name="Product_name" class="form-control form-control-line">*@
                                @Html.EditorFor(model => model.Product_type_name, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Product_type_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Category_id)
                            @Html.DropDownListFor(model => model.Category_id, new SelectList(categories, "Category_id", "Category_name"),
                         "Chọn danh mục", htmlAttributes: new { @id = "cateList", @class = "custom-select col-12" })
                            @Html.ValidationMessageFor(model => model.Category_id, "", new { @class = "text-danger" })

                        </div>
                        
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Trạng Thái</label>
                            <div class="col-12 d-flex">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="IsActive" value="true" class="custom-control-input" checked="checked">
                                    <label class="custom-control-label" for="customRadio1">Hoạt Động</label>
                                </div>
                                &nbsp;
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="IsActive" value="false" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Đang Đóng</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <button class="btn btn-success mx-1" id="Save">Lưu</button>
                                <a class="btn btn-danger" href="@Url.Action("SubIndex", "SubCategories", new { Id = checkCate })">Trở Về</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>

</script>
