﻿
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li><a href="#">Giới thiệu</a></li>
        </ul>
    </div>
</div>
<!-- About AREA -->
<div class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-header-img">
                    <img src="~/img/banner/nhan-vien.jpg" alt="about" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-header-content">
                    <h1 class="about-title">TẠI SAO CHỌN CHÚNG TÔI?</h1>
                    <p>
                        Bạn đang có nhu cầu về dịch vụ gia công inox ? Đang tìm kiếm đơn vị cung cấp dịch vụ gia công này
                        có uy tín, chất lượng cao? Hãy liên hệ ngay với Inox Việt Nam để được tư vấn và báo giá cụ thể.

                        No alt text provided for this image
                        Hiện nay, dịch vụ gia công inox ngày càng phát triển và có vai trò quan trọng, không thể thiếu
                        trong cuộc sống hiện đại. Bởi các sản phẩm inox ngày càng được ứng dụng trong nhiều lĩnh vực
                        khác nhau, nhu cầu và sản phẩm gia công inox cũng ngày càng đa dạng và phong phú hơn.

                        Mỗi sản phẩm inox được gia công có những đặc điểm riêng biệt về thiết kế, cấu tạo, chất liệu.
                        Bởi vậy, gia công inox theo yêu cầu ngày càng được nhiều người quan tâm tới, đặc biệt là chọn
                        đơn vị gia công inox chuyên nghiệp tại TP HCM, uy tín và có giá thành phù hợp đang được người
                        tiêu dùng Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-star"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>CHẤT LƯỢNG </h2>
                        <p>Hàng đầu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-star-o"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>UY TÍN</h2>
                        <p>Đảm bảo với khách hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-heart"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>GIÁ TỐT</h2>
                        <p>Sản xuất gốc tại xưởng</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-clock-o"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>CAM KẾT</h2>
                        <p>Giao hàng nhanh</p>
                    </div>
                </div>
            </div>
            @*<div class="col-md-3 hidden-sm col-xs-12">
                    <div class="single-support">
                        <div class="sigle-support-icon">
                            <p><i class="fa fa-clock-o"></i></p>
                        </div>
                        <div class="sigle-support-content">
                            <h2>BẢO HÀNH</h2>
                            <p>Bảo hành 24/7</p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>


