﻿
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.jpg">
    <!-- CSS  -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="home-one">
    <!-- HEADER AREA -->
    <div class="header-area">
        <div class="header-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <div class="header-top-menu">
                                <ul class="list-inline">
                                    <!--   <li><img src="~/img/flag.png" alt="flag"></li> -->
                                    <li class="dropdown">
                                        <i class="fa fa-phone">&nbsp&nbsp</i>
                                        <a href="#" data-toggle="dropdown" title="0938921889">0938921889 - 0938931889</a>
                                    </li>
                                    <li class="dropdown">
                                        <i class="fa fa-map-marker">&nbsp&nbsp</i><a href="#" data-toggle="dropdown">312A Tân Kỳ Tân Quý, P. Sơn Kỳ, Q. Tân Phú, TP. HCM</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <p>Chúc ngày mới vui vẻ!</p> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>Zalo</a></li>
                                <li title="inoxphuocthanh789@gmail.com"><a href="#"><i class="fa fa-envelope-o"></i>Gmail</a></li>
                                @*<li><a href="#"><i class="fa fa-lock"></i>Đăng nhập</a></li>
                                    <li><a href="#"><i class="fa fa-pencil-square-o"></i>Đăng kí</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="header-logo">
                            <a href="#"><img src="~/img/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="search-chart-list">
                            @Html.Action("CategorySearchPartial", "Category");
                            <div class="header-chart">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
                                    <li class="chart-li">
                                        <a href="#">Giỏ hàng</a>
                                        <ul>
                                            <li>
                                                <div class="header-chart-dropdown">
                                                    <div class="header-chart-dropdown-list">
                                                        <div class="dropdown-chart-left floatleft">
                                                            <a href="#"><img src="~/img/product/best-product-1.png" alt="list"></a>
                                                        </div>
                                                        <div class="dropdown-chart-right">
                                                            <h2><a href="#">Bộ 10 ghế</a></h2>
                                                            <h3>SL: 1</h3>
                                                            <h4>500.000VND</h4>
                                                        </div>
                                                    </div>
                                                    <div class="header-chart-dropdown-list">
                                                        <div class="dropdown-chart-left floatleft">
                                                            <a href="#"><img src="~/img/product/best-product-2.png" alt="list"></a>
                                                        </div>
                                                        <div class="dropdown-chart-right">
                                                            <h2><a href="#">Bàn inox tròn</a></h2>
                                                            <h3>SL: 1</h3>
                                                            <h4>300.000VND</h4>
                                                        </div>
                                                    </div>
                                                    <div class="chart-checkout">
                                                        <p>Tổng<span>800.000VND</span></p>
                                                        <a href="cart.html" type="button" class="btn btn-warning">
                                                            Thanh
                                                            toán
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">2 cái</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN MENU AREA -->
    <div class="main-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-menu hidden-xs">
                        <nav>
                            <ul>
                                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                                <li>@Html.ActionLink("Bán Sỉ & Lẻ", "Index", "Product")</li>
                                <li>@Html.ActionLink("Gia Công", "Index", "Machine")</li>
                                <li>@Html.ActionLink("Thiết Kế - Thi Công", "Index", "Construction")</li>
                                <li>@Html.ActionLink("Cẩm nang", "Index", "Blog")</li>
                                <li>@Html.ActionLink("Giới thiệu", "Index", "AboutUs")</li>
                                <li>@Html.ActionLink("Liên hệ", "Index", "Contact")</li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile MENU AREA -->
                    <div class="mobile-menu hidden-sm hidden-md hidden-lg">
                        <nav>
                            <ul>
                                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                                <li>@Html.ActionLink("Bán Sỉ & Lẻ", "Index", "Product")</li>
                                <li>@Html.ActionLink("Gia Công", "Index", "Product")</li>
                                <li>@Html.ActionLink("Thiết Kế - Thi Công", "Index", "Product")</li>
                                <li>@Html.ActionLink("Cẩm nang", "Index", "Blog")</li>
                                <li>@Html.ActionLink("Giới thiệu", "Index", "AboutUs")</li>
                                <li>@Html.ActionLink("Liên hệ", "Index", "Contact")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER AREA -->
    <div id="body_pages">
        @RenderBody()
    </div>
    <div class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-info-card">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/img/footer-logo.png" alt="logo"></a>
                            </div>
                            <p>Chúng tôi cung cấp tất cả các sản phẩm về inox, luôn đặt tiêu chí sự hài lòng của khách hàng lên hàng đâu, cam kết inox đúng chuẩn, đủ ly đủ zem uy tín chất lượng trên từng sản phẩm bán ra. </p>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-menu-area">
                            <h2 class="footer-heading">Chúng tôi</h2>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>Gia công theo yêu cầu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>Thiết kế công trình</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>Sản xuất, bán sỉ & lẻ</a></li>
                                    <!-- <li><a href="#"><i class="fa fa-angle-right"></i>Meet The Maker</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                        <div class="footer-menu-area">
                            <h2 class="footer-heading">Mở cửa</h2>
                            <div class="footer-menu opening-time">
                                <ul>
                                    <li><i class="fa fa-angle-right"></i>Thứ 2 - CN: 7:00 Sáng - 7:00 Chiều</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="contact-info-area">
                            <h2 class="footer-heading">Liên hệ</h2>
                            <div class="contact-info">
                                <div class="contanct-details">
                                    <div class="info-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="info-content">
                                        <p>0938 921 889</p>
                                        <p>0938 931 889</p>
                                    </div>
                                </div>
                                <div class="contanct-details">
                                    <div class="info-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="info-content-middle">
                                        <p>inoxphuocthanh789@gmail.com</p>
                                    </div>
                                </div>
                                <div class="contanct-details">
                                    <div class="info-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="info-content">
                                        <p>312A Tân Kỳ Tân Quý, P. Sơn Kỳ, Q. Tân Phú, TP. HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyright">
                            Copyrignt@2019 <a href="#">
                                Inox Phước Thành
                            </a> / All Right Reserved
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-social-icon">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    <!-- wow.js
    ============================================ -->
    <script src="~/Scripts/js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(function () {
            var search = $('#btnSearch');
            search.on('click', function () {
                $.ajax({
                    type: "GET",
                    url: "../Product/Index",
                    data: {
                        searchValue:  $('#searchValue').val(),
                        category:  $('#categorySearch').val()
                    },
                    success: function (data) {
                        $("#body_pages").html(data);
                    },
                    error: function (data) {
                        alert("error: " + data.statusText);
                    }

                })
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
