﻿@model List<InoxPhuocThanh.Models.CategoryViewModel>
<div class="product-categeries">
    <h2>Danh mục</h2>
    <div class="panel-group" id="accrodian">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-table"></i>   <a href="@Url.Action("Index","Product",new { category = @Model[i].Category_id})"> @Model[i].Category_name</a>
                       @if (Model[i].ProductType.Count() != 0)
                       {
                        <a class="collapsed special" data-toggle="collapse" href="#@Model[i].Category_id"
                           data-parent="#accrodian"></a>
                       }
                    </h4>
                </div>             
                <div class="panel-collapse collapse" id="@Model[i].Category_id">
                    <div class="panel-body">
                        @for (int j = 0; j < Model[i].ProductType.Count; j++)
                        {
                        <a href="@Url.Action("Index","Product",new { type = @Model[i].ProductType.ElementAtOrDefault(j).Product_type_id})"><i class="fa fa-angle-double-right"></i>@Model[i].ProductType.ElementAtOrDefault(j).Product_type_name</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>