﻿@model List<InoxPhuocThanh.Models.CategoryViewModel>
@{
    ViewBag.Title = "_CategorySearch_Partial";
}
  
        <div class="catagori-menu">
            <ul class="list-inline">
                <li><i class="fa fa-search"></i></li>
                <li>
                    <select>
                        <option value="">Tất cả danh mục</option>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <option id="categorySearch" value="@Model[i].Category_id">@Model[i].Category_name</option>
                        }
                    </select>
                </li>
            </ul>
        </div>
        <div class="header-search">
                <input type="text" id="searchValue" placeholder="Tìm kiếm" />
                <button class="btn-danger" id="btnSearch"><i class="fa fa-search"></i></button>
            
        </div>

