﻿@model List<InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel>
@{
    ViewBag.Title = "Danh Mục Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Danh Mục Sản Phẩm</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card col-12">
                <div class="card-body">
                    <a class="btn btn-success" href="@Url.Action("Insert", "Categories")"><i class="mdi mdi-plus"></i>&nbsp;Thêm </a>
                </div>
                <br />
                <div class="table-responsive">
                    @*<div class='form-inline'><div class='form-group'><label>Tìm Kiếm</label><input class="form-control form-control-sm" id="customSearchBox" /></div></div>*@
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">STT</th>
                                <th class="border-top-0">Tên</th>
                                <th class="border-top-0">Trạng Thái</th>
                                <th class="border-top-0">Ngày Tạo</th>
                                <th class="border-top-0"></th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="txt-oflo">@(count++) </td>
                                    <td class="txt-oflo">@item.Category_name</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td><span class="label label-success label-rounded">Hoạt Động</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-danger label-rounded">Đang Đóng</span></td>
                                    }
                                    <td class="txt-oflo">@item.DateCreated.ToString("dd-MM-yyyy")</td>
                                    <td>@Html.ActionLink("Chi Tiết", "DetailCate", "Categories", new { Id = item.Category_id }, new { @class = "btn btn-success"} )</td>
                                    <td>@Html.ActionLink("Xóa", "RemoveCate", "Categories", new { Id = item.Category_id }, new { @class = "btn btn-danger" }) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var user = $('#table').DataTable({
            "language": {
                "lengthMenu": "<div class='form-inline'><div class='form-group'><label>Xem&nbsp</label>" +
                    "<select class='form-control form-control-sm form-control-line'>" +
                    "<option value='10'>10</option>" +
                    "<option value='25'>25</option>" +
                    "<option value='50'>50</option></select><label>&nbspmục</label</div></div>",
                "zeroRecords": "Không tìm thấy dòng nào phù hợp",
                "info": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "infoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "infoFiltered": "(được lọc từ _MAX_ mục)",
                "search": "Tìm kiếm",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                },
            },
            "dom": 'lrtip'
        });
        $('#customSearchBox').keyup(function () {
            user.search($(this).val()).draw();
        });
    });
</script>