﻿@model InoxPhuocThanh.Areas.AdminPT.Models.CategoryViewModel
@{
    ViewBag.Title = "Thêm Danh Mục Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-breadcrumb">
    <div class="col-12 align-self-center">
        <h4 class="page-title">Thêm Danh Mục Sản Phẩm</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Insert", "Categories", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category_name, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @*<input type="text" name="Product_name" class="form-control form-control-line">*@
                                @Html.EditorFor(model => model.Category_name, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.Category_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Icon</label>
                            <div class="col-md-12">
                                <input type="text" value="fa fa-table" readonly name="Icon" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Trạng Thái</label>
                            <div class="col-12 d-flex">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="IsActive" value="true" class="custom-control-input" checked="checked">
                                    <label class="custom-control-label" for="customRadio1">Hoạt Động</label>
                                </div>
                                &nbsp;
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="IsActive" value="false" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Đang Đóng</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <button class="btn btn-success mx-1" id="Save">Lưu</button>
                                <a class="btn btn-danger" href="@Url.Action("Index", "Categories")">Trở Về</a>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    <script>

    </script>
